# 위기탈출 헬 조선

## Data Processing

### 1)Load Libraries

In [1]:
#import the libraries For data analysis 
import sys
import pandas as pd
import matplotlib
import numpy as np
import scipy as sp
import IPython
import sklearn

In [2]:
#Common Model Algorithms
from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process

#Common Model Helpers
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn import feature_selection
from sklearn import model_selection
from sklearn import metrics

#Visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
from pandas.tools.plotting import scatter_matrix

#### Korean Patch

한글 표시를 위해 실행

In [3]:
%matplotlib inline

import platform
path="c:/Windows/Fonts/malgun.ttf"
from matplotlib import font_manager, rc

if platform.system()=='Darwin':
    rc('font', family='AppleGothic')
elif platform.system() =='Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family = font_name)
else:
    print('Unknown system')

### 2)Load the Dataset for using this project

In [7]:
#Using traffic accident, tax, crime, population, cctv
traffic_data = pd.read_csv('./data/traffic/traffic-accident-2012_2017.csv', encoding='utf-8')
tax_data = pd.read_csv('./data/tax/tax_total.csv', encoding='utf-8')
#crime_2015_data = pd.read_csv('./data/crime/crime-city-2015_1.csv', encoding='utf-8')
crime_2016_data = pd.read_csv('./data/crime/crime-city-2016_1.csv', encoding='utf-8')
population_data = pd.read_csv('./data/population/population.csv', encoding='utf-8')
cctv_data = pd.read_csv('./data/cctv.csv', encoding='utf-8')

데이터를 체크해 본다

In [15]:
traffic_data.head()

    발생년      발생년월일시  주야 요일  사망자수  사상자수     발생지
0  2012  2012050901  야간  수     1     1  경남 거창군
1  2012  2012033013  주간  금     1     1  경기 용인시
2  2012  2012102620  야간  금     1     2  경북 김천시
3  2012  2012062814  주간  목     1     1  경기 이천시
4  2012  2012061804  야간  월     1     1  전남 광양시

교통사고 데이터에서 필요한 것은 발생년, 발생지 정도이므로 수정한다

In [26]:
tax_data.head()

    징수년 징수시도 징수시군구 징수분류       징수금액
0  2014  강원도   춘천시  취득세   66199922
1  2014  강원도   원주시  취득세  101985605
2  2014  강원도   강릉시  취득세   45786650
3  2014  강원도   동해시  취득세   18988361
4  2014  강원도   태백시  취득세    9402039

여기서는 정확하게 소득 수준의 분류를 위한 파악을 해야 하므로 징수분류를 다시 들여다 본다

In [35]:
tax_data[tax_data['징수시군구'].isin(['연수구'])]

       징수년 징수시도 징수시군구   징수분류       징수금액
1416  2014   인천   연수구    취득세  184481625
1426  2014   인천   연수구    주민세     907763
1436  2014   인천   연수구  지방소득세   50720024
1446  2015   인천   연수구    취득세  252978667
1456  2015   인천   연수구    주민세    1729233
1466  2015   인천   연수구  지방소득세   64302193
1476  2016   인천   연수구    취득세  210909544
1486  2016   인천   연수구    주민세    1917763
1496  2016   인천   연수구  지방소득세  101344375

징수분류는 취득세 주민세 지방소득세 이렇게 3가지로 나뉘게 된다

추 후에 필요한 년도와 필요한 시군구로 분류하여 총 합을 구한다

In [10]:
crime_2016_data.head()

,범죄대분류,범죄중분류,계,서울,부산,대구,인천,광주,대전,울산,...,경기 시흥,경기 파주,경남 양산,경기 이천,경기 구리,충남 서산,충북 제천,충남 논산,기타도시,도시이외
0,강력범죄,살인기수,356,46,29,17,20,9,16,7,...,8,3,3,1,1,2,1,3,30,51
1,강력범죄,살인미수등,558,100,43,12,28,8,9,15,...,7,2,1,0,5,3,3,0,67,49
2,강력범죄,강도,"1,149",260,137,51,88,47,35,33,...,9,4,7,2,1,5,2,1,72,46
3,강력범죄,강간,"5,155","1,129",314,197,347,170,171,112,...,57,38,31,26,30,10,14,13,367,366
4,강력범죄,유사강간,583,123,28,37,47,21,14,16,...,4,3,4,1,3,0,1,2,36,33

마찬가지로 범죄분류 또한 확인해본다

In [37]:
print(crime_2016_data['범죄대분류'])

0       강력범죄
1       강력범죄
2       강력범죄
3       강력범죄
4       강력범죄
5       강력범죄
6       강력범죄
7       강력범죄
8       절도범죄
9       폭력범죄
10      폭력범죄
11      폭력범죄
12      폭력범죄
13      폭력범죄
14      폭력범죄
15      폭력범죄
16      폭력범죄
17      지능범죄
18      지능범죄
19      지능범죄
20      지능범죄
21      지능범죄
22      지능범죄
23      지능범죄
24      지능범죄
25      지능범죄
26      풍속범죄
27      풍속범죄
28    특별경제범죄
29      마약범죄
30      보건범죄
31      환경범죄
32      교통범죄
33      노동범죄
34      안보범죄
35      선거범죄
36      병역범죄
37      기타범죄
Name: 범죄대분류, dtype: object

필요한 데이터는 강력범죄~폭력범죄 이므로 나머지 데이터 셋은 추후에 삭제한다

In [12]:
population_data.head()

,행정구역별,연도별,연령별,총인구,총인구_남자,총인구_여자,내국인_남자,내국인_여자,총인구_외국인,외국인_남자,외국인_여자,외국인비율
0,서울,2017,합계,9741871.0,4757642.0,4984229.0,4592393.0,4805551.0,343927.0,165249.0,178678.0,0.0353
1,서울,2017,0~4세,354174.0,181170.0,173004.0,177401.0,169310.0,7463.0,3769.0,3694.0,0.0211
2,서울,2017,5~9세,363637.0,186597.0,177040.0,184234.0,174832.0,4571.0,2363.0,2208.0,0.0126
3,서울,2017,10~14세,371556.0,191682.0,179874.0,190196.0,178551.0,2809.0,1486.0,1323.0,0.0076
4,서울,2017,15~19세,496075.0,251735.0,244340.0,247939.0,238520.0,9616.0,3796.0,5820.0,0.0194

In [38]:
population_data[population_data['행정구역별'].isin(['서울'])]

,행정구역별,연도별,연령별,총인구,총인구_남자,총인구_여자,내국인_남자,내국인_여자,총인구_외국인,외국인_남자,외국인_여자,외국인비율
0,서울,2017,합계,9741871.0,4757642.0,4984229.0,4592393.0,4805551.0,343927.0,165249.0,178678.0,0.0353
1,서울,2017,0~4세,354174.0,181170.0,173004.0,177401.0,169310.0,7463.0,3769.0,3694.0,0.0211
2,서울,2017,5~9세,363637.0,186597.0,177040.0,184234.0,174832.0,4571.0,2363.0,2208.0,0.0126
3,서울,2017,10~14세,371556.0,191682.0,179874.0,190196.0,178551.0,2809.0,1486.0,1323.0,0.0076
4,서울,2017,15~19세,496075.0,251735.0,244340.0,247939.0,238520.0,9616.0,3796.0,5820.0,0.0194
5,서울,2017,20~24세,699945.0,338539.0,361406.0,325097.0,336472.0,38376.0,13442.0,24934.0,0.0548
6,서울,2017,25~29세,777218.0,383505.0,393713.0,364581.0,370742.0,41895.0,18924.0,22971.0,0.0539
7,서울,2017,30~34세,766607.0,384052.0,382555.0,363965.0,363718.0,38924.0,20087.0,18837.0,0.0508
8,서울,2017,35~39세,806213.0,407731.0,398482.0,391846.0,385786.0,28581.0,15885.0,12696.0,0.0355
9,서울,2017,40~44세,756546.0,378503.0,378043.0,364563.0,367465.0,24518.0,13940.0,10578.0,0.0324
10,서울,2017,45~49세,847475.0,419571.0,427904.0,402561.0,412267.0,32647.0,17010.0,15637.0,0.0385
11,서울,2017,50~54세,756194.0,370127.0,386067.0,352153.0,367410.0,36631.0,17974.0,18657.0,0.0484
12,서울,2017,55~59세,790279.0,378648.0,411631.0,364292.0,395787.0,30200.0,14356.0,15844.0,0.0382
13,서울,2017,60~64세,645887.0,306492.0,339395.0,292599.0,325224.0,28064.0,13893.0,14171.0,0.0435
14,서울,2017,65~69세,458490.0,216809.0,241681.0,211180.0,235591.0,11719.0,5629.0,6090.0,0.0256
15,서울,2017,70~74세,346471.0,160386.0,186085.0,158941.0,183967.0,3563.0,1445.0,2118.0,0.0103
16,서울,2017,75~79세,268057.0,120169.0,147888.0,119498.0,146257.0,2302.0,671.0,1631.0,0.0086
17,서울,2017,80~84세,145012.0,55768.0,89244.0,55411.0,88297.0,1304.0,357.0,947.0,0.0090
18,서울,2017,85세이상,92035.0,26158.0,65877.0,25936.0,65355.0,744.0,222.0,522.0,0.0081
19,서울,2017,85~89세,64679.0,19627.0,45052.0,19476.0,44686.0,517.0,151.0,366.0,0.0080
20,서울,2017,90~94세,21748.0,5267.0,16481.0,5219.0,16367.0,162.0,48.0,114.0,0.0074
21,서울,2017,95~99세,4943.0,1142.0,3801.0,1126.0,3774.0,43.0,16.0,27.0,0.0087
22,서울,2017,100세이상,665.0,122.0,543.0,115.0,528.0,22.0,7.0,15.0,0.0331
23,서울,2017,15세미만,1089367.0,559449.0,529918.0,551831.0,522693.0,14843.0,7618.0,7225.0,0.0136
24,서울,2017,15~64세,7342439.0,3618903.0,3723536.0,3469596.0,3563391.0,309452.0,149307.0,160145.0,0.0421
25,서울,2017,65세이상,1310065.0,579290.0,730775.0,570966.0,719467.0,19632.0,8324.0,11308.0,0.0150
26,서울,2017,평균연령,41.5,40.6,42.2,40.6,42.3,-0.1,0.0,-0.1,-0.0024
27,서울,2017,중위연령,41.6,40.7,42.5,40.7,42.6,-0.1,0.0,-0.1,-0.0024
2352,서울,2016,합계,9805506.0,4799115.0,5006391.0,4636374.0,4833965.0,335167.0,162741.0,172426.0,0.0342
2353,서울,2016,0~4세,378946.0,194318.0,184628.0,190370.0,180869.0,7707.0,3948.0,3759.0,0.0203
...,...,...,...,...,...,...,...,...,...,...,...,...
2378,서울,2016,평균연령,41.0,40.2,41.8,40.1,41.8,0.1,0.1,0.0,0.0024
2379,서울,2016,중위연령,41.2,40.3,42.1,40.2,42.1,0.1,0.1,0.0,0.0024
4704,서울,2015,합계,9904312.0,4859535.0,5044777.0,4694317.0,4872879.0,337116.0,165218.0,171898.0,0.0340
4705,서울,2015,0~4세,391765.0,200927.0,190838.0,197029.0,187201.0,7535.0,3898.0,3637.0,0.0192
4706,서울,2015,5~9세,373253.0,191849.0,181404.0,189058.0,178865.0,5330.0,2791.0,2539.0,0.0143
4707,서울,2015,10~14세,404973.0,209387.0,195586.0,207475.0,193844.0,3654.0,1912.0,1742.0,0.0090
4708,서울,2015,15~19세,551140.0,281128.0,270012.0,277732.0,265351.0,8057.0,3396.0,4661.0,0.0146
4709,서울,2015,20~24세,711944.0,352341.0,359603.0,340607.0,340592.0,30745.0,11734.0,19011.0,0.0432
4710,서울,2015,25~29세,765654.0,377599.0,388055.0,356908.0,365442.0,43304.0,20691.0,22613.0,0.0566
4711,서울,2015,30~34세,857426.0,432854.0,424572.0,415257.0,408678.0,33491.0,17597.0,15894.0,0.0391
4712,서울,2015,35~39세,793411.0,401512.0,391899.0,386917.0,380708.0,25786.0,14595.0,11191.0,0.0325
4713,서울,2015,40~44세,836876.0,421126.0,415750.0,405627.0,403418.0,27831.0,15499.0,12332.0,0.0333
4714,서울,2015,45~49세,824198.0,406727.0,417471.0,389179.0,400657.0,34362.0,17548.0,16814.0,0.0417
4715,서울,2015,50~54세,806399.0,393503.0,412896.0,374483.0,392200.0,39716.0,19020.0,20696.0,0.0493
4716,서울,2015,55~59세,783847.0,374379.0,409468.0,357561.0,391259.0,35027.0,16818.0,18209.0,0.0447
4717,서울,2015,60~64세,582420.0,277581.0,304839.0,265613.0,292641.0,24166.0,11968.0,12198.0,0.0415
4718,서울,2015,65~69세,445487.0,210905.0,234582.0,206299.0,229433.0,9755.0,4606.0,5149.0,0.0219
4719,서울,2015,70~74세,341116.0,160465.0,180651.0,158969.0,178550.0,3597.0,1496.0,2101.0,0.0105
4720,서울,2015,75~79세,228694.0,99738.0,128956.0,98840.0,127364.0,2490.0,898.0,1592.0,0.0109
4721,서울,2015,80~84세,123565.0,45105.0,78460.0,44673.0,77586.0,1306.0,432.0,874.0,0.0106
4722,서울,2015,85세이상,82144.0,22409.0,59735.0,22090.0,59090.0,964.0,319.0,645.0,0.0117
4723,서울,2015,85~89세,57673.0,16375.0,41298.0,16189.0,40903.0,581.0,186.0,395.0,0.0101
4724,서울,2015,90~94세,19795.0,4965.0,14830.0,4876.0,14661.0,258.0,89.0,169.0,0.0130
4725,서울,2015,95~99세,4133.0,970.0,3163.0,935.0,3101.0,97.0,35.0,62.0,0.0235
4726,서울,2015,100세이상,543.0,99.0,444.0,90.0,425.0,28.0,9.0,19.0,0.0516
4727,서울,2015,15세미만,1169991.0,602163.0,567828.0,593562.0,559910.0,16519.0,8601.0,7918.0,0.0141
4728,서울,2015,15~64세,7513315.0,3718750.0,3794565.0,3569884.0,3640946.0,302485.0,148866.0,153619.0,0.0403
4729,서울,2015,65세이상,1221006.0,538622.0,682384.0,530871.0,672023.0,18112.0,7751.0,10361.0,0.0148
4730,서울,2015,평균연령,40.5,39.7,41.4,39.6,41.4,0.1,0.1,0.0,0.0025
4731,서울,2015,중위연령,40.7,39.8,41.5,39.7,41.5,0.1,0.1,0.0,0.0025

필요한 데이터는 합계 데이터만 필요하므로 

나머지 데이터 행은 삭제한다

In [14]:
cctv_data.head()

  city_name district_name   CCTV
0     서울특별시            서울  44457
1     인천광역시            인천   8680
2   제주특별자치도            제주   2249
3   세종특별자치시            세종   1848
4     대전광역시            대전   6356

이미 한번 가공된 데이터 셋이다

### 3)'4C' on the Data

Correct, Convert, Clear, Completing

우선 우리가 분석할 데이터는 2016년의 데이터

현재 가지고 있는 데이터 중 2016년이 아닌 전체의 데이터도 있어서 2016년만 추출 하는 것이 필요

In [43]:
traffic_data.set_index('발생년')

          발생년월일시  주야 요일  사망자수  사상자수      발생지
발생년
2012  2012050901  야간  수     1     1   경남 거창군
2012  2012033013  주간  금     1     1   경기 용인시
2012  2012102620  야간  금     1     2   경북 김천시
2012  2012062814  주간  목     1     1   경기 이천시
2012  2012061804  야간  월     1     1   전남 광양시
2012  2012071508  주간  일     1     5   전남 광양시
2012  2012053104  야간  목     1     2   경기 하남시
2012  2012091714  주간  월     1     1   충남 논산시
2012  2012100102  야간  월     1     5   경남 밀양시
2012  2012081612  주간  목     1     1   전북 진안군
2012  2012083008  주간  목     1     5    대구 북구
2012  2012091604  야간  일     1     1   대구 달성군
2012  2012092410  주간  월     2     2   전북 무주군
2012  2012101602  야간  화     1     1   경기 화성시
2012  2012121404  야간  금     1     2   경기 광명시
2012  2012111110  주간  일     1     1   경남 진주시
2012  2012110601  야간  화     1     1   경남 진주시
2012  2012081100  야간  토     1     1   경북 구미시
2012  2012092002  야간  목     1     3   경북 구미시
2012  2012010101  야간  일     1     6   전북 정읍시
2012  2012010104  야간  일     1     1   경기 화성시
2012  2012010104  야간  일     1     2   충남 서산시
2012  2012010103  야간  일     1     1    광주 서구
2012  2012010416  주간  수     1     1   경남 김해시
2012  2012010420  야간  수     1     1   경기 안성시
2012  2012010910  주간  월     1     1   강원 춘천시
2012  2012010623  야간  금     1     1   대전 유성구
2012  2012010510  주간  목     1     1   충남 태안군
2012  2012010518  야간  목     1     1   경기 포천시
2012  2012011320  야간  금     1     1   인천 계양구
...          ...  .. ..   ...   ...      ...
2017  2017122900  야간  금     1     2   전남 영암군
2017  2017122902  야간  금     1     2   경기 화성시
2017  2017122904  야간  금     1     1   서울 서초구
2017  2017122905  야간  금     1     1   경기 수원시
2017  2017122908  주간  금     1     3   경북 울진군
2017  2017122909  주간  금     1     1   충북 청주시
2017  2017122910  주간  금     1     1   경기 구리시
2017  2017122918  야간  금     1     4   전남 영암군
2017  2017122920  야간  금     1     2   경기 가평군
2017  2017122920  야간  금     1     2   경기 화성시
2017  2017122921  야간  금     1     1   경기 시흥시
2017  2017123003  야간  토     1     1   전남 여수시
2017  2017123004  야간  토     1     1   강원 원주시
2017  2017123007  주간  토     1     1   경기 포천시
2017  2017123007  주간  토     1     1   전북 완주군
2017  2017123009  주간  토     1     1   경남 하동군
2017  2017123015  주간  토     1     5   강원 인제군
2017  2017123018  야간  토     2     2   경북 영덕군
2017  2017123018  야간  토     1     1   경북 영천시
2017  2017123023  야간  토     1     4   전남 무안군
2017  2017123023  야간  토     1     6    광주 동구
2017  2017123100  야간  일     1     1   경기 용인시
2017  2017123107  주간  일     1     1   제주 제주시
2017  2017123112  주간  일     1     1   경북 경산시
2017  2017123117  주간  일     1     1    대전 서구
2017  2017123118  야간  일     1     4   경남 사천시
2017  2017123118  야간  일     1     1   부산 기장군
2017  2017123119  야간  일     1     1   강원 홍천군
2017  2017123120  야간  일     1    11  경기 동두천시
2017  2017123123  야간  일     1     1    대전 동구

[27255 rows x 6 columns]

In [45]:
print(traffic_data[traffic_data['발생년'].isin(['2016'])])

        발생년      발생년월일시  주야 요일  사망자수  사상자수         발생지
19071  2016  2016122320  야간  금     1     1      경기 광주시
19072  2016  2016122517  주간  일     1     1      서울 금천구
19073  2016  2016122519  야간  일     1     1      충북 진천군
19074  2016  2016122610  주간  월     1     1      경북 경주시
19075  2016  2016122819  야간  수     1     1      경남 진주시
19076  2016  2016111207  주간  토     1     1      경남 거제시
19077  2016  2016110919  야간  수     1     1      경기 포천시
19078  2016  2016111005  야간  목     1     1       인천 서구
19079  2016  2016110711  주간  월     1     1      충남 예산군
19080  2016  2016110818  야간  화     1     1      전남 순천시
19081  2016  2016111302  야간  일     1     2      서울 용산구
19082  2016  2016111318  야간  일     1     1      전남 보성군
19083  2016  2016111915  주간  토     1     1      경기 가평군
19084  2016  2016111206  주간  토     1     1      경기 파주시
19085  2016  2016112700  야간  일     1     1      경북 칠곡군
19086  2016  2016111914  주간  토     1     1      서울 중랑구
19087  2016  2016112523  야간  금     1     1      경기 화성시
19088  2016  2016112618  야간  토     1     3      강원 원주시
19089  2016  2016112522  야간  금     1     2      충북 음성군
19090  2016  2016112009  주간  일     2     2      경남 합천군
19091  2016  2016112010  주간  일     1     1      전북 순창군
19092  2016  2016112012  주간  일     1     1       부산 남구
19093  2016  2016103108  주간  월     1     1      경기 양평군
19094  2016  2016110411  주간  금     1     4      경기 광주시
19095  2016  2016110505  야간  토     1     1      서울 관악구
19096  2016  2016103010  주간  일     1     1      강원 홍천군
19097  2016  2016102914  주간  토     1     1      경북 경산시
19098  2016  2016110218  야간  수     1     1      경남 거창군
19099  2016  2016121213  주간  월     1     1  경남 창원시(통합)
19100  2016  2016121206  주간  월     1     1      전북 임실군
...     ...         ...  .. ..   ...   ...         ...
23160  2016  2016010103  야간  금     1     1      경북 안동시
23161  2016  2016010918  야간  토     1     1      서울 서초구
23162  2016  2016010801  야간  금     1     1      경기 평택시
23163  2016  2016010617  주간  수     1     1      충북 청주시
23164  2016  2016011214  주간  화     1     1      강원 홍천군
23165  2016  2016011601  야간  토     1     1      전북 익산시
23166  2016  2016011410  주간  목     1     1  경남 창원시(통합)
23167  2016  2016011511  주간  금     1     1      충북 청주시
23168  2016  2016012123  야간  목     1     1      부산 강서구
23169  2016  2016011816  주간  월     1     1      경남 하동군
23170  2016  2016011816  주간  월     1     1       대구 북구
23171  2016  2016011815  주간  월     1     1      전북 김제시
23172  2016  2016020408  주간  목     1     5      경기 용인시
23173  2016  2016020423  야간  목     1     1      경기 용인시
23174  2016  2016010804  야간  금     1     2      경북 안동시
23175  2016  2016090601  야간  화     1     1      경북 김천시
23176  2016  2016072103  야간  목     2     2      대전 대덕구
23177  2016  2016101321  야간  목     1     1      전남 순천시
23178  2016  2016070803  야간  금     1     1      인천 남동구
23179  2016  2016101915  주간  수     1     3      경기 안산시
23180  2016  2016021915  주간  금     1     1      경남 김해시
23181  2016  2016033113  주간  목     1     1      충남 논산시
23182  2016  2016022523  야간  목     1     2      경기 이천시
23183  2016  2016041811  주간  월     1     2      충남 당진시
23184  2016  2016101322  야간  목    10    19      울산 울주군
23185  2016  2016103022  야간  일     1     5      경기 평택시
23186  2016  2016090617  주간  화     1     6      전남 함평군
23187  2016  2016080910  주간  화     1    13      충북 충주시
23188  2016  2016091402  야간  수     1     2      인천 부평구
23189  2016  2016071301  야간  수     1     2      경북 구미시

[4119 rows x 7 columns]

In [50]:
key = np.arrange=(0,19070)
traffic_data.drop(key, axis=0)

KeyError: 'labels [(0, 19070)] not contained in axis'